
.drop-trigger{
    background-color: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
}
.select-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.dropdown-menu{
    position: absolute;
    top: 20px;
    right: 10%;
    text-align: center;
}
.dropdown-menu li {
    list-style: none;
}