
.input {
  width: 100%;
  padding: 15px 7px 15px 15px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid rgb(153, 153, 153, 0.2);
}
.input-holder{
  position: relative;
  display: flex;
  margin: 10px 0 20px;
}
.label {
  color: #393f44;
  margin-bottom: 5px;
}

.icon {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 24px;
  color: #d5d5d7;
  fill: #d5d5d7;
}
.at{
  width: 24px;
  height: 24px;
  line-height: 24px;
}

form {
  max-width: 450px;
}

