a {
  text-decoration: none;
  color: #397ef7;
}
.gray-color {
  color: rgb(153, 153, 153);
}
.form-head {
  padding-top: 60px;
}
.form-head h1 {
  color: #373e53;
}
.cont{
  margin: auto;
}
.small {
  margin-top: 10%;
  font-size: 12px;
  font-weight: 400;
}
